{
  "openapi": "3.0.0",
  "info": {
    "title": "awesome-mcp REST Data Plane",
    "description": "Combined catalog of REST passthrough endpoints across every service wired into this awesome-mcp instance. Use the mintRestBearerForCurl MCP tool to mint a 5-minute bearer token, then GET these URLs to fetch bulk responses directly to disk without burning LLM context.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://awesome-mcp.xyz",
      "description": "awesome-mcp REST data plane"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/v1/calendars": {
      "get": {
        "operationId": "listCalendars",
        "summary": "List all calendars",
        "description": "Lists all calendars accessible to the authenticated user.",
        "parameters": [
          {
            "name": "showHidden",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Whether to show hidden calendars"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendars retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "calendars": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Calendar"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/calendars/{calendarId}/events": {
      "get": {
        "operationId": "listEvents",
        "summary": "List events from a calendar",
        "description": "Lists events from a specified calendar within an optional date range.",
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The calendar ID (use 'primary' for the user's primary calendar)"
          },
          {
            "name": "timeMin",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Start of the time range (ISO 8601). Defaults to now."
          },
          {
            "name": "timeMax",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "End of the time range (ISO 8601). Defaults to 30 days from now."
          },
          {
            "name": "maxResults",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 2500
            },
            "description": "Maximum number of events to return"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Free text search terms to find matching events"
          },
          {
            "name": "singleEvents",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            },
            "description": "Whether to expand recurring events into instances"
          }
        ],
        "responses": {
          "200": {
            "description": "Events retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "calendarId": {
                      "type": "string"
                    },
                    "count": {
                      "type": "integer"
                    },
                    "events": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Event"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Calendar not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createEvent",
        "summary": "Create a calendar event",
        "description": "Creates a new event in the specified calendar.",
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The calendar ID (use 'primary' for the user's primary calendar)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "summary",
                  "startDateTime",
                  "endDateTime"
                ],
                "properties": {
                  "summary": {
                    "type": "string",
                    "description": "The title of the event"
                  },
                  "description": {
                    "type": "string",
                    "description": "Description or notes for the event"
                  },
                  "location": {
                    "type": "string",
                    "description": "Geographic location of the event"
                  },
                  "startDateTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Start time in ISO 8601 format (e.g., '2024-01-15T10:00:00-05:00')"
                  },
                  "endDateTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "End time in ISO 8601 format (e.g., '2024-01-15T11:00:00-05:00')"
                  },
                  "timeZone": {
                    "type": "string",
                    "description": "Time zone (e.g., 'America/New_York'). Defaults to calendar's time zone."
                  },
                  "attendees": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "email"
                    },
                    "description": "List of attendee email addresses"
                  },
                  "addGoogleMeet": {
                    "type": "boolean",
                    "default": false,
                    "description": "If true, generate a Google Meet video conference for this event. The Meet link is returned as hangoutLink and attached to the calendar invite."
                  },
                  "sendUpdates": {
                    "type": "string",
                    "enum": [
                      "all",
                      "externalOnly",
                      "none"
                    ],
                    "default": "none",
                    "description": "Whether to send email notifications to attendees"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Event created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Permission denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/calendars/{calendarId}/events/{eventId}": {
      "get": {
        "operationId": "getEvent",
        "summary": "Get event details",
        "description": "Gets detailed information about a specific calendar event.",
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The calendar ID"
          },
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The event ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Event retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Permission denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Event not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateEvent",
        "summary": "Update a calendar event",
        "description": "Updates an existing calendar event. Only provided fields are changed; omitted fields are preserved.",
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The calendar ID"
          },
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The event ID to update"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "summary": {
                    "type": "string",
                    "description": "New title for the event"
                  },
                  "description": {
                    "type": "string",
                    "description": "New description for the event"
                  },
                  "location": {
                    "type": "string",
                    "description": "New location for the event"
                  },
                  "startDateTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "New start time in ISO 8601 format"
                  },
                  "endDateTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "New end time in ISO 8601 format"
                  },
                  "timeZone": {
                    "type": "string",
                    "description": "Time zone for the start/end times"
                  },
                  "addGoogleMeet": {
                    "type": "boolean",
                    "default": false,
                    "description": "If true, generate a Google Meet video conference for this event. Ignored if the event already has a conference attached."
                  },
                  "sendUpdates": {
                    "type": "string",
                    "enum": [
                      "all",
                      "externalOnly",
                      "none"
                    ],
                    "default": "none",
                    "description": "Whether to send email notifications to attendees"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Permission denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Event not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteEvent",
        "summary": "Delete a calendar event",
        "description": "Deletes a calendar event.",
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The calendar ID"
          },
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The event ID to delete"
          },
          {
            "name": "sendUpdates",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "default": "none"
            },
            "description": "Whether to send email notifications to attendees"
          }
        ],
        "responses": {
          "200": {
            "description": "Event deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Permission denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Event not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clickup/user": {
      "get": {
        "operationId": "getAuthorizedUser",
        "summary": "Get authorized user",
        "description": "Gets information about the currently authenticated ClickUp user.",
        "responses": {
          "200": {
            "description": "User retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clickup/workspaces": {
      "get": {
        "operationId": "listWorkspaces",
        "summary": "List workspaces",
        "description": "Lists all workspaces (teams) accessible to the authenticated user.",
        "responses": {
          "200": {
            "description": "Workspaces retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "workspaces": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Workspace"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clickup/workspaces/{workspaceId}/spaces": {
      "get": {
        "operationId": "listSpaces",
        "summary": "List spaces",
        "description": "Lists all spaces in a workspace.",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The workspace ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Spaces retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "spaces": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Space"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clickup/spaces/{spaceId}": {
      "post": {
        "operationId": "createSpace",
        "summary": "Create a space",
        "description": "Creates a new space in the specified workspace.",
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The space ID (used as the parent workspace context)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the space"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Space created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Space"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clickup/spaces/{spaceId}/folders": {
      "get": {
        "operationId": "listFolders",
        "summary": "List folders",
        "description": "Lists all folders in a space.",
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The space ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Folders retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "folders": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Folder"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createFolder",
        "summary": "Create a folder",
        "description": "Creates a new folder in the specified space.",
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The space ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the folder"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Folder created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clickup/folders/{folderId}/lists": {
      "get": {
        "operationId": "listListsInFolder",
        "summary": "List lists in folder",
        "description": "Lists all lists within a folder.",
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The folder ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lists": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/List"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createListInFolder",
        "summary": "Create a list in folder",
        "description": "Creates a new list inside a folder.",
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The folder ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the list"
                  },
                  "content": {
                    "type": "string",
                    "description": "The description content of the list"
                  },
                  "due_date": {
                    "type": "string",
                    "description": "The due date of the list in Unix time (milliseconds)"
                  },
                  "priority": {
                    "type": "integer",
                    "description": "The priority of the list (1=urgent, 2=high, 3=normal, 4=low)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/List"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clickup/spaces/{spaceId}/lists": {
      "get": {
        "operationId": "listFolderlessLists",
        "summary": "List folderless lists",
        "description": "Lists all lists in a space that are not inside a folder.",
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The space ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lists": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/List"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clickup/lists/{listId}": {
      "patch": {
        "operationId": "updateList",
        "summary": "Update a list",
        "description": "Updates an existing list. Only provided fields are changed.",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The list ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "New name for the list"
                  },
                  "content": {
                    "type": "string",
                    "description": "New description content for the list"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/List"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteList",
        "summary": "Delete a list",
        "description": "Deletes a list.",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The list ID to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "List deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clickup/lists/{listId}/tasks": {
      "get": {
        "operationId": "listTasks",
        "summary": "List tasks",
        "description": "Lists tasks in a list with optional filtering and pagination.",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The list ID"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Page number (starting from 0)"
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Field to order results by (e.g., 'created', 'updated', 'due_date')"
          },
          {
            "name": "statuses",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of statuses to filter by"
          },
          {
            "name": "closedAfter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only return tasks closed at/after this time (ISO string or Unix ms). Forces include_closed=true and auto-paginates up to 2000 tasks, filtering locally on date_closed."
          },
          {
            "name": "closedBefore",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only return tasks closed at/before this time (ISO string or Unix ms). Forces include_closed=true and auto-paginates up to 2000 tasks, filtering locally on date_closed."
          }
        ],
        "responses": {
          "200": {
            "description": "Tasks retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tasks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Task"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createTask",
        "summary": "Create a task",
        "description": "Creates a new task in the specified list.",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The list ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the task"
                  },
                  "description": {
                    "type": "string",
                    "description": "The description of the task"
                  },
                  "assignees": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "Array of user IDs to assign to the task"
                  },
                  "status": {
                    "type": "string",
                    "description": "The status of the task"
                  },
                  "priority": {
                    "type": "integer",
                    "description": "The priority of the task (1=urgent, 2=high, 3=normal, 4=low)"
                  },
                  "due_date": {
                    "type": "string",
                    "description": "The due date in Unix time (milliseconds)"
                  },
                  "custom_item_id": {
                    "type": "integer",
                    "description": "Task type (ClickUp custom item type). 0 = Task (default), 1 = Milestone, workspace-specific types above that. Resolve names with the listTaskTypes MCP tool or GET /api/v2/team/{team_id}/custom_item."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clickup/tasks/{taskId}": {
      "get": {
        "operationId": "getTask",
        "summary": "Get a task",
        "description": "Gets detailed information about a specific task.",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The task ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Task retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Task not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateTask",
        "summary": "Update a task",
        "description": "Updates an existing task. Only provided fields are changed.",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The task ID to update"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "New name for the task"
                  },
                  "description": {
                    "type": "string",
                    "description": "New description for the task"
                  },
                  "status": {
                    "type": "string",
                    "description": "New status for the task"
                  },
                  "priority": {
                    "type": "integer",
                    "description": "New priority (1=urgent, 2=high, 3=normal, 4=low)"
                  },
                  "parent": {
                    "type": "string",
                    "description": "Re-parent the task under this task ID. ClickUp does not accept null here (a subtask cannot be converted back into a top-level task). Note this REST route is an unvalidated passthrough - the guards and the post-change confirmation live in the updateTask MCP tool."
                  },
                  "custom_item_id": {
                    "type": "integer",
                    "description": "Task type (ClickUp custom item type). 0 = Task (default), 1 = Milestone, workspace-specific types above that. Resolve names with the listTaskTypes MCP tool or GET /api/v2/team/{team_id}/custom_item."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Task not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteTask",
        "summary": "Delete a task",
        "description": "Deletes a task.",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The task ID to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "Task deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Task not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clickup/tasks/{taskId}/move": {
      "post": {
        "operationId": "moveTask",
        "summary": "Move a task",
        "description": "Moves a task to a different list.",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The task ID to move"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "listId"
                ],
                "properties": {
                  "listId": {
                    "type": "string",
                    "description": "The destination list ID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task moved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clickup/tasks/{taskId}/members": {
      "get": {
        "operationId": "getTaskMembers",
        "summary": "Get task members",
        "description": "Gets the members assigned to a specific task.",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The task ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Members retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "members": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Member"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clickup/workspaces/{workspaceId}/tasks/search": {
      "get": {
        "operationId": "searchTasks",
        "summary": "Search tasks",
        "description": "Searches for tasks across a workspace.",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The workspace ID"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search query string"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Page number (starting from 0)"
          },
          {
            "name": "custom_fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSON-encoded custom field filters"
          },
          {
            "name": "closedAfter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only return tasks closed at/after this time (ISO string or Unix ms). Forces include_closed=true and auto-paginates up to 2000 tasks, filtering locally on date_closed."
          },
          {
            "name": "closedBefore",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only return tasks closed at/before this time (ISO string or Unix ms). Forces include_closed=true and auto-paginates up to 2000 tasks, filtering locally on date_closed."
          }
        ],
        "responses": {
          "200": {
            "description": "Search results retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tasks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Task"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clickup/workspaces/{workspaceId}/tasks/filter": {
      "get": {
        "operationId": "filterTeamTasks",
        "summary": "Filter tasks across a workspace",
        "description": "Thin wrapper over ClickUp's server-side Get Filtered Team Tasks endpoint (GET /api/v2/team/{team_id}/task). One paginated call replaces per-list enumeration for workspace-wide digests. Supports assignees, statuses, tags, scope narrowing (spaceIds/projectIds/listIds), and date ranges on date_created / date_updated / due_date. Does NOT support date_closed / date_done filters — for 'closed since T', query with dateUpdatedGt=T and partition on date_closed client-side.",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The workspace (team) ID"
          },
          {
            "name": "assignees",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "explode": true,
            "description": "Filter to tasks assigned to any of these user IDs. Repeat the param for multiple values."
          },
          {
            "name": "statuses",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "explode": true,
            "description": "Filter by status names. Repeat the param for multiple values."
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "explode": true,
            "description": "Filter by tag names. Repeat the param for multiple values."
          },
          {
            "name": "spaceIds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "explode": true,
            "description": "Narrow to specific space IDs. Repeat the param for multiple values."
          },
          {
            "name": "projectIds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "explode": true,
            "description": "Narrow to specific folder (project) IDs. Repeat the param for multiple values."
          },
          {
            "name": "listIds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "explode": true,
            "description": "Narrow to specific list IDs. Repeat the param for multiple values."
          },
          {
            "name": "dateCreatedGt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only tasks created at/after this time. ISO string or Unix ms."
          },
          {
            "name": "dateCreatedLt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only tasks created at/before this time. ISO string or Unix ms."
          },
          {
            "name": "dateUpdatedGt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only tasks updated at/after this time. ISO string or Unix ms. Use as a superset for 'closed since T' queries."
          },
          {
            "name": "dateUpdatedLt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only tasks updated at/before this time. ISO string or Unix ms."
          },
          {
            "name": "dueDateGt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only tasks with due_date at/after this time. ISO string or Unix ms."
          },
          {
            "name": "dueDateLt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only tasks with due_date at/before this time. ISO string or Unix ms."
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "created",
                "updated",
                "due_date"
              ]
            },
            "description": "Sort field. No server-side close-date sort."
          },
          {
            "name": "reverse",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Reverse the sort order."
          },
          {
            "name": "subtasks",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Include subtasks in results."
          },
          {
            "name": "includeClosed",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Include closed/completed tasks."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Page number (0-based). 100 tasks per page."
          },
          {
            "name": "custom_fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSON-encoded custom field filters."
          }
        ],
        "responses": {
          "200": {
            "description": "Filtered tasks retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tasks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Task"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid date parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clickup/workspaces/{workspaceId}/events": {
      "get": {
        "operationId": "getTaskEventHistory",
        "summary": "Read task-event transitions from the webhook store",
        "description": "Reads events populated by the ClickUp webhook receiver: status transitions, moves, assignee changes, task creations and deletions. Scoped to the caller's own subscription for the workspace. If no subscription exists, returns 200 with kind='no-subscription' + a warning — not 404 — so digests can gracefully fall back to filterTeamTasks with dateUpdatedGt.",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The workspace (team) ID"
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only return events at/after this time. ISO string or Unix ms."
          },
          {
            "name": "until",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only return events at/before this time. ISO string or Unix ms."
          },
          {
            "name": "eventTypes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "taskCreated",
                  "taskStatusUpdated",
                  "taskAssigneeUpdated",
                  "taskMoved",
                  "taskDeleted"
                ]
              }
            },
            "explode": true,
            "description": "Filter to specific event types. Repeat the param for multiple values."
          },
          {
            "name": "toStatus",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only return status-transition events whose destination status equals this label."
          },
          {
            "name": "taskId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Narrow to a single task."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 500,
              "maximum": 2000
            },
            "description": "Row cap. Narrow via since if you hit it."
          }
        ],
        "responses": {
          "200": {
            "description": "Task events retrieved (kind='ok') or subscription missing (kind='no-subscription')",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "kind": {
                      "type": "string",
                      "enum": [
                        "ok",
                        "no-subscription"
                      ]
                    },
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "eventStoreStartedAt": {
                      "type": "string"
                    },
                    "warning": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid date parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clickup/subscriptions": {
      "get": {
        "operationId": "listTaskEventSubscriptions",
        "summary": "List task-event webhook subscriptions owned by the caller",
        "description": "Surfaces subscription health so operators can spot a dying webhook (ClickUp stops delivering after 5 consecutive failures). shared_secret is never returned.",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional workspace ID to narrow to a single subscription."
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subscriptions": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clickup/workspaces/{workspaceId}/subscription/debug": {
      "get": {
        "operationId": "debugTaskEventSubscription",
        "summary": "Task-event subscription diagnostic report",
        "description": "Cross-references the local subscription record against ClickUp's own view of the webhook and the event store. Detects endpoint-URL drift (BASE_URL changed between subscribe and now), orphaned ClickUp webhook (local record points at a webhook ClickUp deleted), event-bundle mismatch, ClickUp fail_count exceeding our stored fail_count (ingestion route silently 200-ing on thrown errors), disabled-webhook status, and the 'zero events with zero delivery failures' pattern that means deliveries either are not reaching the ingestion route or are being silently swallowed. Returns 200 even for broken states.",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The workspace (team) ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Diagnostic report",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "kind": {
                      "type": "string",
                      "enum": [
                        "ok",
                        "no-local-subscription",
                        "no-clickup-webhook"
                      ]
                    },
                    "workspaceId": {
                      "type": "string"
                    },
                    "expectedEndpoint": {
                      "type": "string"
                    },
                    "local": {
                      "type": "object",
                      "nullable": true
                    },
                    "clickup": {
                      "type": "object",
                      "nullable": true
                    },
                    "eventStore": {
                      "type": "object",
                      "nullable": true
                    },
                    "findings": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clickup/tasks/{taskId}/comments": {
      "get": {
        "operationId": "getTaskComments",
        "summary": "Get task comments",
        "description": "Gets all comments on a task.",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The task ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Comments retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "comments": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Comment"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addTaskComment",
        "summary": "Add a comment to a task",
        "description": "Adds a new comment to a task.",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The task ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "comment_text"
                ],
                "properties": {
                  "comment_text": {
                    "type": "string",
                    "description": "The text content of the comment"
                  },
                  "assignee": {
                    "type": "integer",
                    "description": "User ID to assign in the comment"
                  },
                  "notify_all": {
                    "type": "boolean",
                    "description": "Whether to notify all assignees",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comment added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clickup/workspaces/{workspaceId}/docs": {
      "get": {
        "operationId": "listDocs",
        "summary": "List one page of docs",
        "description": "Lists one page of docs in a workspace, in ClickUp's own order (oldest first). Returns nextCursor when more pages exist. To find a doc by name across the whole workspace, use the /docs/search sibling.",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The workspace ID"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 10,
              "maximum": 100,
              "default": 100
            },
            "description": "Docs per page (10-100, default 100)"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor from a previous response"
          }
        ],
        "responses": {
          "200": {
            "description": "Docs retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "docs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Doc"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clickup/workspaces/{workspaceId}/docs/search": {
      "get": {
        "operationId": "searchDocs",
        "summary": "Search docs by name",
        "description": "Finds docs by name across the entire workspace, newest first, paging through all docs internally. Matching is case-insensitive and token-based: every word in the query must appear in the title, in any order. The response carries totalScanned, pagesScanned, hitCap and rateLimited so an empty result can be told apart from an incomplete scan.",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The workspace ID"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Words to match against doc names (case-insensitive, order-independent, all must appear). Omit to list all docs newest-first."
          },
          {
            "name": "creator",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by creator user ID"
          },
          {
            "name": "parentId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by parent ID. Required with parentType SPACE, FOLDER, or LIST."
          },
          {
            "name": "parentType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "SPACE",
                "FOLDER",
                "LIST",
                "EVERYTHING",
                "WORKSPACE"
              ]
            },
            "description": "Restrict to docs in this container kind. EVERYTHING means no restriction."
          }
        ],
        "responses": {
          "200": {
            "description": "Search results retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "docs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Doc"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clickup/workspaces/{workspaceId}/time": {
      "get": {
        "operationId": "getTimeEntries",
        "summary": "Get time entries",
        "description": "Gets time tracking entries for a workspace within a date range.",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The workspace ID"
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Start date in Unix time (milliseconds)"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "End date in Unix time (milliseconds)"
          },
          {
            "name": "assignee",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "User ID to filter time entries by"
          }
        ],
        "responses": {
          "200": {
            "description": "Time entries retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TimeEntry"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clickup/workspaces/{workspaceId}/time/start": {
      "post": {
        "operationId": "startTimeEntry",
        "summary": "Start time tracking",
        "description": "Starts a new time tracking entry.",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The workspace ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tid"
                ],
                "properties": {
                  "tid": {
                    "type": "string",
                    "description": "The task ID to track time for"
                  },
                  "description": {
                    "type": "string",
                    "description": "Description of the time entry"
                  },
                  "billable": {
                    "type": "boolean",
                    "description": "Whether the time entry is billable",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Time tracking started successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeEntry"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clickup/workspaces/{workspaceId}/time/stop": {
      "post": {
        "operationId": "stopTimeEntry",
        "summary": "Stop time tracking",
        "description": "Stops the currently running time tracking entry.",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The workspace ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Time tracking stopped successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeEntry"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/images": {
      "post": {
        "operationId": "uploadImage",
        "summary": "Re-host an image and get a public URL",
        "description": "Re-hosts an image on this server (recompressed to WebP) and returns a public URL you can embed in a ClickUp Doc as markdown. Send EITHER raw image bytes as the body (Content-Type image/png, image/jpeg, image/gif, image/bmp, or image/webp) OR application/json with an imageUrl to fetch and re-host. Requires a connected ClickUp account.",
        "requestBody": {
          "required": true,
          "content": {
            "image/png": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "image/jpeg": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "image/gif": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "image/bmp": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "image/webp": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "imageUrl"
                ],
                "properties": {
                  "imageUrl": {
                    "type": "string",
                    "description": "Public http(s) URL of an image to fetch and re-host (jpg, png, gif, bmp, or webp)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Image stored",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "Public URL to embed as image markdown."
                    },
                    "key": {
                      "type": "string",
                      "description": "Content-hash storage key (sha256.webp)."
                    },
                    "bytes": {
                      "type": "integer",
                      "description": "Stored (WebP) byte size."
                    },
                    "contentType": {
                      "type": "string",
                      "example": "image/webp"
                    },
                    "deduped": {
                      "type": "boolean",
                      "description": "True if identical bytes were already stored."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing/invalid body, or the imageUrl could not be fetched",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Recompressed image exceeds the storage size cap",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported image format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/docs/read": {
      "post": {
        "operationId": "readGoogleDoc",
        "summary": "Read a Google Document",
        "description": "Reads the content of a Google Document. Returns plain text by default.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "documentId"
                ],
                "properties": {
                  "documentId": {
                    "type": "string",
                    "description": "The ID of the Google Document (from the URL)"
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "text",
                      "json"
                    ],
                    "default": "text",
                    "description": "Output format: 'text' for plain text, 'json' for raw structure"
                  },
                  "maxLength": {
                    "type": "integer",
                    "description": "Maximum character limit for output. Omit for full content."
                  },
                  "tabId": {
                    "type": "string",
                    "description": "Optional tab ID to read a specific tab"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document content retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "format": {
                      "type": "string",
                      "description": "The format of the returned content"
                    },
                    "content": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object"
                        }
                      ],
                      "description": "The document content (string for text format, object for json format)"
                    },
                    "length": {
                      "type": "integer",
                      "description": "Length of the content in characters (for text format)"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing documentId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - no access to document",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Document not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/docs/{documentId}/comments": {
      "get": {
        "operationId": "listComments",
[...]
