{
  "openapi": "3.0.0",
  "info": {
    "title": "Google Sheets MCP REST API",
    "description": "REST API for managing Google Sheets spreadsheets. For use with ChatGPT Custom Actions.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://awesome-mcp.xyz",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/v1/sheets": {
      "get": {
        "operationId": "listSpreadsheets",
        "summary": "List spreadsheets",
        "description": "Lists spreadsheets accessible to the authenticated user.",
        "parameters": [
          {
            "name": "maxResults",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Maximum number of spreadsheets to return"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search query to filter spreadsheets by name"
          }
        ],
        "responses": {
          "200": {
            "description": "Spreadsheets retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "spreadsheets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SpreadsheetSummary"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createSpreadsheet",
        "summary": "Create a spreadsheet, optionally seeded with rows",
        "description": "Creates a new Google Spreadsheet through Drive, so it can be placed in a shared drive, and optionally writes initialData into the first sheet starting at A1. Answers 201 even when the seed write fails, because the spreadsheet itself exists by then: check initialDataWritten.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "title"
                ],
                "properties": {
                  "title": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Title for the new spreadsheet."
                  },
                  "parentFolderId": {
                    "type": "string",
                    "description": "Folder to create it in. Omit for Drive root. For a shared drive, use a folder ID inside that drive."
                  },
                  "initialData": {
                    "type": "array",
                    "items": {
                      "type": "array",
                      "items": {
                        "nullable": true,
                        "oneOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "boolean"
                          }
                        ],
                        "description": "A cell value: string, number, boolean or null."
                      }
                    },
                    "description": "Optional rows written to the first sheet starting at A1."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Spreadsheet created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "spreadsheetId": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "nullable": true
                    },
                    "webViewLink": {
                      "type": "string",
                      "nullable": true
                    },
                    "driveId": {
                      "type": "string",
                      "nullable": true,
                      "description": "Set when the file landed in a shared drive."
                    },
                    "initialDataWritten": {
                      "type": "boolean",
                      "description": "False when no initialData was sent, or when the seed write failed after the file was created."
                    },
                    "initialDataError": {
                      "type": "string",
                      "description": "Present only when the seed write failed."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body. The response carries Zod issues keyed by field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Permission denied by Google",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Spreadsheet or calendar resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sheets/{spreadsheetId}": {
      "get": {
        "operationId": "getSpreadsheetInfo",
        "summary": "Get spreadsheet info",
        "description": "Gets metadata and sheet information for a specific spreadsheet.",
        "parameters": [
          {
            "name": "spreadsheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The spreadsheet ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Spreadsheet info retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spreadsheet"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Spreadsheet not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sheets/{spreadsheetId}/read": {
      "post": {
        "operationId": "readRange",
        "summary": "Read a range from a spreadsheet",
        "description": "Reads cell values from a specified range in the spreadsheet.",
        "parameters": [
          {
            "name": "spreadsheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The spreadsheet ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "range"
                ],
                "properties": {
                  "range": {
                    "type": "string",
                    "description": "The A1 notation range to read (e.g., 'Sheet1!A1:D10')"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Range read successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "range": {
                      "type": "string",
                      "description": "The range that was read"
                    },
                    "values": {
                      "type": "array",
                      "items": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "description": "2D array of cell values"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid range",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sheets/{spreadsheetId}/write": {
      "post": {
        "operationId": "writeRange",
        "summary": "Write to a range in a spreadsheet",
        "description": "Writes cell values to a specified range in the spreadsheet.",
        "parameters": [
          {
            "name": "spreadsheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The spreadsheet ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "range",
                  "values"
                ],
                "properties": {
                  "range": {
                    "type": "string",
                    "description": "The A1 notation range to write to (e.g., 'Sheet1!A1:D10')"
                  },
                  "values": {
                    "type": "array",
                    "items": {
                      "type": "array",
                      "items": {
                        "nullable": true,
                        "oneOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "boolean"
                          }
                        ],
                        "description": "A cell value: string, number, boolean or null."
                      }
                    },
                    "description": "2D array of cell values to write"
                  },
                  "valueInputOption": {
                    "type": "string",
                    "enum": [
                      "RAW",
                      "USER_ENTERED"
                    ],
                    "default": "USER_ENTERED",
                    "description": "How input data should be interpreted (RAW or USER_ENTERED)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Range written successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "updatedRange": {
                      "type": "string"
                    },
                    "updatedRows": {
                      "type": "integer"
                    },
                    "updatedColumns": {
                      "type": "integer"
                    },
                    "updatedCells": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid range or values",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sheets/{spreadsheetId}/append": {
      "post": {
        "operationId": "appendRows",
        "summary": "Append rows to a spreadsheet",
        "description": "Appends rows of data after the last row with content in the specified range.",
        "parameters": [
          {
            "name": "spreadsheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The spreadsheet ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "range",
                  "values"
                ],
                "properties": {
                  "range": {
                    "type": "string",
                    "description": "The A1 notation of the range to search for data to append after (e.g., 'Sheet1!A:D')"
                  },
                  "values": {
                    "type": "array",
                    "items": {
                      "type": "array",
                      "items": {
                        "nullable": true,
                        "oneOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "boolean"
                          }
                        ],
                        "description": "A cell value: string, number, boolean or null."
                      }
                    },
                    "description": "2D array of row values to append"
                  },
                  "valueInputOption": {
                    "type": "string",
                    "enum": [
                      "RAW",
                      "USER_ENTERED"
                    ],
                    "default": "USER_ENTERED",
                    "description": "How input data should be interpreted (RAW or USER_ENTERED)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rows appended successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "updatedRange": {
                      "type": "string"
                    },
                    "updatedRows": {
                      "type": "integer"
                    },
                    "updatedColumns": {
                      "type": "integer"
                    },
                    "updatedCells": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid range or values",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sheets/{spreadsheetId}/batchUpdate": {
      "post": {
        "operationId": "batchUpdateSpreadsheet",
        "summary": "Apply formatting and sheet-lifecycle operations atomically",
        "description": "Applies an ordered list of operations in a single atomic batch: if one is rejected, none of them apply. Sheet names are resolved against the live spreadsheet, including sheets added earlier in the same batch. WARNING: the deleteSheet operation destroys a tab and every value on it, and there is no confirmation step on this plane.",
        "parameters": [
          {
            "name": "spreadsheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The spreadsheet ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operations"
                ],
                "properties": {
                  "operations": {
                    "type": "array",
                    "minItems": 1,
                    "description": "Operations to apply in order. Each needs a `type` plus that type's own fields; see the batchUpdateSpreadsheet MCP tool for the per-type shape.",
                    "items": {
                      "type": "object",
                      "required": [
                        "type"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "numberFormat",
                            "textStyle",
                            "backgroundColor",
                            "borders",
                            "freeze",
                            "conditionalFormat",
                            "mergeCells",
                            "unmergeCells",
                            "columnWidth",
                            "rowHeight",
                            "updateSheetProperties",
                            "deleteSheet",
                            "duplicateSheet",
                            "addSheet"
                          ]
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch applied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "spreadsheetId": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "applied": {
                      "type": "integer",
                      "description": "Number of operations Google replied for."
                    },
                    "operations": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "One line per operation, in order, for auditing a large batch."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body. The response carries Zod issues keyed by field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Permission denied by Google",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Spreadsheet or calendar resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sheets/{spreadsheetId}/ranges/clear": {
      "post": {
        "operationId": "clearSpreadsheetRange",
        "summary": "Clear every value in a range",
        "description": "DESTRUCTIVE and irreversible through this API: clears all values in the range. POST to an action path rather than DELETE on the range, so the call site reads as deliberate. The response reports the range Google actually cleared, which can be wider than the one requested when the request was unbounded.",
        "parameters": [
          {
            "name": "spreadsheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The spreadsheet ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "range"
                ],
                "properties": {
                  "range": {
                    "type": "string",
                    "description": "A1 notation range to clear (e.g. 'Sheet1!A1:B10')."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Range cleared",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "clearedRange": {
                      "type": "string",
                      "description": "The range Google reports it cleared."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body. The response carries Zod issues keyed by field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Permission denied by Google",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Spreadsheet or calendar resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key obtained from the registration dashboard"
      }
    },
    "schemas": {
      "SpreadsheetSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the spreadsheet"
          },
          "name": {
            "type": "string",
            "description": "Title of the spreadsheet"
          },
          "createdTime": {
            "type": "string",
            "format": "date-time",
            "description": "When the spreadsheet was created"
          },
          "modifiedTime": {
            "type": "string",
            "format": "date-time",
            "description": "When the spreadsheet was last modified"
          }
        }
      },
      "Spreadsheet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the spreadsheet"
          },
          "title": {
            "type": "string",
            "description": "Title of the spreadsheet"
          },
          "locale": {
            "type": "string",
            "description": "Locale of the spreadsheet"
          },
          "sheets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Sheet"
            },
            "description": "List of sheets in the spreadsheet"
          }
        }
      },
      "Sheet": {
        "type": "object",
        "properties": {
          "sheetId": {
            "type": "integer",
            "description": "The ID of the sheet"
          },
          "title": {
            "type": "string",
            "description": "The name of the sheet"
          },
          "index": {
            "type": "integer",
            "description": "The index of the sheet within the spreadsheet"
          },
          "rowCount": {
            "type": "integer",
            "description": "Number of rows in the sheet"
          },
          "columnCount": {
            "type": "integer",
            "description": "Number of columns in the sheet"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  }
}
